@font-face {
    font-family: Asar;
    src: url(fonts/Asar-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

body,
h1,
h2,
h3,
h4,
p,
a,
img,
div,
ul,
li,
nav,
header,
footer{
    margin: 0;
    left: 0;
    right: 0;
    text-decoration: none;
    color: white;
    font-family: Roboto;
    box-sizing: border-box;
}

img{
    /*pointer-events: none;*/
}

body {
    background-color: #15282C;
}

/* Banner */
#banner{
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#banner img{
    position: absolute;
    max-height: 100%;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#banner p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: Asar;
    float: left;
    letter-spacing: 0.02em;
    background-color:rgba(0,0,0,0);
    font-size: 3.5rem;
    text-align: center;
}

/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    height: 7rem;
    width: 100%;
    #padding: 1rem;
    z-index: 11;
    display: flex;
    background-color:rgba(0,0,0,0);
}

.h1 {
    font-family: Asar;
    /*background-color: aqua;*/
    text-align: left;
    letter-spacing: 0.1em;
    background-color:rgba(0,0,0,0);
    font-size: 1.7rem;
    width: 50%;
    color: orange;
    vertical-align: middle;
    padding: 2rem;
    padding-top: 1.8rem;
    padding-left: 10%;
}

.h1 a{
    font-family: Asar;
    background-color:rgba(0,0,0,0);
    vertical-align: text-top;
    height: 20rem;
}

nav {
    width: 50%;
    display: flex;
    align-items: center;
    background-color:rgba(0,0,0,0);
}

ul, li, li p, li a{
    background-color:rgba(0,0,0,0);
}

nav ul{
    text-align: center;
    vertical-align: middle;
    flex-grow: 1;
}

nav li {
    text-decoration: none;
    display: inline-block;
    margin: 0.2rem;
    font-size: 0.9rem;
    background-color:rgba(0,0,0,0);
    vertical-align: middle;
    letter-spacing: 0.05em;
}

nav li a {
    padding: 1rem;
}

#toggle-nav {
    display: none;
}


nav a:hover {
    opacity: 0.5;
    transition-duration: 0.1s;
}

.underline {
    border-bottom: 1px solid currentColor;
    display: inline-block;
    line-height: 1.5;
    padding-top: 0.2rem;
}


/* ------ IMAGE GALLERY ------- */

.image-gallery {
    columns: 1rem 3;
    gap: 0.2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.image-gallery img {
    width: 100%;
    display: block;
    margin-top: .2rem;
}

.image-gallery-item{
    position: relative;
}

.image-gallery-item img{
    position: relative;
    transition-duration: 0.2s;
}

.image-gallery-item p {
    font-size: 1.5rem;
    width: 100%;
    bottom: 0;
    position: absolute;  
    text-align: left;
    transition-duration: 0.2s;
    background-color:rgba(0,0,0,0);
    opacity: 0;
    padding: 1rem;
}

.image-gallery-item:hover img {
    opacity: 0.5;
}

.image-gallery-item:hover p {
    opacity: 1;
}

#fullscreen-image {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color:rgba(0,0,0,0.9);
    z-index: 100;
    justify-content: center;
}

#fullscreen-image-img{
    position: absolute;
    display: block;
    margin: auto;
    max-height: 100vh;
    max-width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------ FIRST PAGE ------- */
.header-text{
    text-align: center;
    font-size: 2.5rem;
    font-family: Asar;
    letter-spacing: 0.1em;
}

.promo-container{
    margin: 1rem;
    margin-bottom: 10rem;
}

.projects-promo-row{
    display: flex;
}

.projects-promo{
    width: 50%;
    aspect-ratio: 24/9;
    overflow: hidden;
    margin: 0.2rem;
    display: flex;
    align-items: center;
    position: relative;
}

.projects-promo a{
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color:rgba(0,0,0,0);
}

.projects-promo img{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.projects-promo p{
    width: 100%;
    position: absolute;
    background-color:rgba(0,0,0,0);
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.9) 95%);
    bottom: 0;
    right: 0;
    font-size: 1rem;
    padding: 1rem;
    z-index: 3;
    letter-spacing: 0.1em;
}

.projects-promo .img-top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0%;
    transition: 0.5s;
}

.projects-promo:hover .img-top {
      opacity: 100%;
}

/* - MODELS SECTION - */
.models-promo-row{
    display: flex;
}

.models-promo{
    width: 100%;
    aspect-ratio: 9/16;
    max-height: 90vh;
    overflow: hidden;
    margin: 0.2rem;
    display: flex;
    align-items: center;
    position: relative;
}

models-promo a{
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color:rgba(0,0,0,0);
}

.models-promo img{
    position: absolute;
    height: 100%;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.models-promo p{
    width: 100%;
    position: absolute;
    background-color:rgba(0,0,0,0);
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.9) 95%);
    bottom: 0;
    right: 0;
    font-size: 1rem;
    padding: 1rem;
    z-index: 3;
    letter-spacing: 0.1em;
}

.img-top{
    opacity: 0%;
    transition: 0.5s;
    z-index: 1;
}

.models-promo .img-top {
    position: absolute;
    height: 100%;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.models-promo:hover .img-top {
      opacity: 100%;
}

.see-all-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

.see-all-button .line{
    flex-grow: 1;
    background-color: white;
    height: 1px;
    margin: 2rem;
}

.see-all-button img {
    width: 100%;
    position: absolute;
}

.see-all-button a {
    width: 14rem;
    position: relative;
    pointer-events: all;
    height: 4rem;
}

.see-all-button .img-top {
    transition: 0.2s;

}

.see-all-button a:hover .img-top{
      opacity: 100%;
}


/* ------ PROJECT PAGE ------- */
#project-banner{
    width: 100%;
    background-color: orange;

}

#project-banner img{
    width: 100%;
    height: 100%;   
    object-fit:contain;    
}

.hide-mobile{
    display: block;
}

.hide-pc{
    display: none;
}

#project-header{
    text-align: center;
    font-size: 3rem;
    font-family: Asar;
    padding-top: 3rem;
}

#project-intro{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 0rem;
    padding-bottom: 3rem;
}

.project-gallery{
    width: 100%;
    padding: 5rem;
    align-content: center;
}

.project-gallery-item img {
    /*width: 100%;*/
    max-width: 100%;
    max-height: 95vh;
    margin: auto;
    margin-bottom: 0.5rem;
    display: block;
}

.project-gallery-item p {
    opacity: 0.5;
    text-align: center;
    margin-bottom: 3rem;
}


/* ------ PROJECT PAGE ------- */
#header-background-padding{
    width: 100%;
    height: 7rem;
    #background-color: black;
}


/* ------ FOOTER ------- */
footer{
    height: 5rem;
}

/*------------------------------------------MOBILE---------------------------------------------*/
@media only screen and (max-width: 1000px) {

    header{
        padding: 0;
        display: flex;
        height: 5rem;
    }
    
        
    header .h1{
        margin: 0rem;
        width: auto;
        flex-grow: 1;
    }
    
    .h1 a{
        flex-flow: row;
        font-size: 1.5rem;
        text-align: left;
        margin: 1rem;
        font-size: 1rem;
        vertical-align: middle;
    }

    
    nav{
        background-color: #15282C;
        padding-top: 2rem;
        width: 100%;
        z-index: 5;
        height: 100vh;
    }
    
        
    #nav-list{
        position: fixed;
        display: none;
        width: 100%;
        z-index: 1;
        padding: 2rem;
    }
    
    #nav-list ul{
        justify-content: center;
        width: 100%;
        margin: auto;
        padding: 0;
    }
    
    
    #nav-list ul li {
        display: block;
        height: 2.3rem;
        font-size: 1.2rem;
        margin: auto;
        padding: inherit;
        margin-bottom: 2rem;
    }


    #toggle-nav {
        display: block;
        float: right;
        z-index: 11;
        background-color:rgba(0,0,0,0);
        width: 4rem;
        position: relative;
    }
    
    #toggle-nav img {
        width: 100%;
        background-color:rgba(0,0,0,0);
        margin: auto;
        #padding: 1rem;
        display: block;
    }
    
    /* ------ FIRST PAGE ------- */
    .header-text{
        font-size: 1.5rem;
    }
    
    /*.projects-promo p{
        font-size: 0.5rem;
        padding: 0.5rem;
    }*/
    
    /* ------ IMAGE GALLERY ------- */

    .image-gallery {
        columns: 1rem 2;
        gap: 0.2rem; 
    }
    
    /* ------ PROJECT PAGE ------- */
    
    .hide-mobile{
        display: none;
    }
    
    .hide-pc{
        display: block;
    }
    
    .project-gallery{
        padding: 1rem;
    }

}

/* ------ OLD - FOR REFERENCE ------- */

/*h1, h2, h3 {
    position: relative;
    margin: auto;
    text-align: center;
    top: 100%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 7em;
    display: block;  
    font-family: mt-bold;
    color: white;
    line-height: 1em;
    width: 100%;
}

h1{
    top: 3em
}

h1 a{
    font-family: mt-bold;
}

h2 {
    top: 7.5em;
    left: 50%;
    font-size: 2em;
    font-family: mt-regular;
}

h3{
    top: 0.5em;
}

/*--iframe{
    float: right;
    padding-right: 5em;
    padding-top: 12em;
    height: inherit;
    width: 50em;
    height: 28.15em;
}--*/

/*.topicons{
    position: fixed;
    top: 50;
    left: 50;
    z-index: 1;
}

.topicons img{
    width: 3em;
}


#page0, #page1, #page2, #page3{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #2a6592;
}

#page1{
    background-color: #ff2638;
}

#page2{
    background-color: #2a6592;
    height: auto;
    min-height: 100vh;
}

#page3{
    background-color: #1f1f1f;
}

footer{
    background-color: #484041;
}

#page3 p{
    text-align: center;
    margin-top: 2em;
}

/*---Video content---*/
/*iframe{
    float: right;
    padding-right: 5%;
    padding-left: 5%;
    width: 40%;
    height: 26.77em;
}

.page-content{
    width: 100%;
    padding-top: 12em;
}

.page-content p{
    float: left;
    width: 40%;
    text-align: center;
    padding-top: 8em;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5em
}

/*---Artstation---*/

/*.artstation-container{
    margin-top: 5em;
    margin-left: 5%;
    width: 55%;
    display: grid;
    grid-column-gap: 0.25em;
    grid-template-columns: auto auto auto;
}
.artstation-item{
    
}
.artstation-item img{
    width: 100%;
    filter: grayscale(0%);
}

#page2 p{
    margin-top: 17em;
    float: right;
    width: 30%;
    text-align: center;
    font-size: 1.5em;
    padding-right: 5%;
    padding-left: 5%;
}

/*---HOVER---*/

/*a:hover {
    color: black;
    opacity: 0.8;
    transition-duration: 0.1s;
}

.topicons img:hover{
    filter: invert();
    transition-duration: 0.1s;
}

.artstation-item a:hover{
    opacity: 0.5;
}*/

/*----------------------------ABOUT------------------------------*/
/*#about h1{
    top: 0.5em;
    margin: 0;
    margin-top: 0;
}
h4{
    text-align: center;
    font-size: 3em;
    font-family: mt-bold;
}
#about-page{
    min-height: 100vh;
}

#about-me-container{
    margin-top: 1em;
}

#about-me{
    float: left;
    width: 40%;
    margin-left: 5%;
}
#return{
    display: inline-block;
}
#return div{
    display: grid;
    grid-template-columns: auto auto;
    width: 12em;
}
#return:hover p, #return:hover img{
    filter: invert();
    transition-duration: 0.1s;
}

#return div img{
    display: inline-block;
    width: 3em;
}
#return div p{
    display: inline-block;
    height: 100%;
    padding-top: 1em;
}

#albin_image{
    display: block;
    width: 15em;
    height: 15em;
    margin: auto;
    margin-top: 2em;
    background-color: white;
}
#albin_image img{
    padding-top: .5em;
    display: block;
    width: 14em;
    margin: auto;
}

#cv{
    float: right;
    width: 40%;
    height: 50em;
    margin-right: 5%;
    
}
#cv iframe{
    float: none;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    height: 100%;
}*/

/*-----------------------------------------ARTICLES--------------------------------------------*/
/*.article{
    margin-left: 20em;
    margin-right: 20em;
}

.horizontal-container{
    background-color: beige;
    margin: auto;
    width: 100%;
    display: flex;
}

.vertical-container img {
    #flex: 33.33%;  
#    width: 100%;
    display: flex;
    margin: 1em;
}

.horizontal-container img {
    box-sizing: -box;
    flex: 33.33%;  
    width: 1;
    margin: 1em;

}

.vertical-container{
    background-color: orange;
    text-align: center;
}*/




/*------------------------------------------MOBILE---------------------------------------------*/
/*@media only screen and (max-width: 1000px) {
h1, h2, h3 {
    width: 100%;
    font-size: 3em;
}
    
h1{
    top: 5em;
}

h2 {
    top: 13em;
    left: 50%;
    font-size: 1em;
    font-family: mt-regular;
}
    
iframe{
    float: none;
    padding-right: 0;
    padding-left: 0;
    top: 0;
    width: 100%;
}
    
.page-content{
    padding-top: 1em;
}

.page-content p{
    float: none;
    width: 100%;
    text-align: center;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 1em;
}
    
.topicons{
    position: absolute;
}
    
.artstation-container{
    margin: auto;
    margin-top: 0em;
    width: 100%;
    display: grid;
    grid-column-gap: 0.2em;
    grid-template-columns: auto auto;
}
    
#page2 p{
    margin-top: 1em;
    float: none;
    width: 90%;
    text-align: center;
    font-size: 1em
}
#page3 h3{
    top: 1em;
}*/
/*----------------------------ABOUT - MOBILE------------------------------*/
/*#about-page{
    position: absolute;
    margin-top: 0em;
}
h4{
    font-size: 2em;
}
#return{
    width: 100%;
}
#return div{
    margin: auto;
}
#albin_image{
    margin-top: 0em;
}
#about h1{
    top: 0.5em;
    font-size: 12vw;
}
    
#about-me{
    float: none;
    width: 90%;
}

#cv{
    float: none;
    width: 90%;
    margin-right: 0;
    margin-left: 5%;
    margin-top: 2em;
}
}*/